
  @import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');


.header{
    height: 70px;
    display: flex;
    justify-content: space-between;
   margin: 5px;
    border: 1px solid black;
}

.logo{
  display: flex;
}

.logo>a>img{
    
    width: 70px;
   align-self: auto;
   margin-left: 5px;
   
}

.nav-items> ul{
list-style-type: none;
display: flex;
}

.nav-items>ul>li{
    padding: 10px;

}

.card{
    width: 250px;
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
}

.card>img{
    width: 100%;
}

.Restraunt-List{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center */
}

.search-container{
  margin-left: 5px;
}
.search-btn{
    margin-left: 10px;
}

/* Shimmer ui codes */

.shimmer-card {
  width: 200px;
  height: 200px;
  background: lightgrey;
  margin: 20px;
  display: flex;
  flex-direction: row;
}
